.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  margin-top: 5vh;
  width: 50%;
  display: flex;
}

.track {
  background: lightblue;
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  background: linear-gradient(to right, #EF8EA9, #ab417f);
}

.animate-track {
  background: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateX(10%); */
  pointer-events: none;
}

input {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;

  /* padding-top: 1rem;
	padding-bottom: 1rem; */
}

input:focus {
  outline: none;
  -webkit-appearance: none;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: transparent;
  border: none;
}

input::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

input::-ms-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

input::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

p {
  padding: 0 1rem 0 1rem;
  user-select: none;
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
}

/* .play-control i {
  cursor: pointer;
} */

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }

  .play-control {
    width: 60%;
  }

  input::-webkit-slider-thumb {
    height: 48px;
    width: 48px;
  }
}